
.container {
  background: transparent;
  font-size: small;
  margin-top: 12px;
}

.summary-box {
  background: var(--yt-spec-badge-chip-background);
  border: 2px;
  border-color: var(--yt-spec-badge-chip-background);
  border-radius: 12px;
  padding: 12px;
}

.summary-box:hover {
  background: var(--yt-spec-button-chip-background-hover);
}

.summary-box.expanded:hover {
  background: var(--yt-spec-badge-chip-background);
}

.summary-box-2 {
  background: var(--yt-spec-badge-chip-background);
  border: 2px;
  border-color: var(--yt-spec-badge-chip-background);
  border-radius: 12px;
  padding: 12px;
}

.summary-box__header {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--yt-spec-text-primary);
}

.summary-box__header p {
  font-family: "Roboto", "Arial", sans-serif;
  display: flex;
  align-items: center;
}

#logoPic {
  width: 80px;
  height: 25px;
  margin-right: 5px;
  margin-left: 12px;
  margin-top: 2px;
  margin-bottom: 5px;
}

#processingPic {
  width: 30px;
  height: 30px;
  margin-top: 0px;
  margin-left: 4px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#preprocessingLabel {
  margin-left: 4px;
}

.summary-box__content {
  background: transparent;
  margin-top: 8px;
}

.main-separator {
  height: 5px;
}

.summary-separator {
  border: none;
  height: 1px;
  background: var(--yt-spec-text-primary);
  margin: 10px 0;
}

.subgroup_container {
  background: transparent;
}

.subgroup_header_container {
  background: var(--subgroup-header-container-backgroundcolor);
  display: flex;
  align-items: top;
  border-radius: 12px;
  margin: 10px;
}

.subgroup_summary_n_container {
  background: transparent;
  padding-bottom: 12px;
}

.subgroup_container img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.chunk-header {
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.chunk-header span {
  font-size: 0.8em;
  font-weight: normal;
  display: block;
}

.chunk-header mark {
  background-color: #ff6347;
  color: #404040;
  padding-left: 3px;
  padding-right: 5px;
}
.chunk-header span mark {
  background-color: #ff6347;
  color: #404040;
  padding-left: 3px;
  padding-right: 5px;
}

.pre-summary-text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-left: 30px;
  color: var(--yt-formatted-string-bold-color,inherit);
}

.summary-text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--yt-spec-text-primary);
}

.prefix a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: var(--yt-endpoint-color,var(--yt-spec-call-to-action));
  text-decoration: none;
}

.summary-box__content.hidden {
  display: none;
}

.summary-header-button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: bold;
  color: var(--yt-spec-text-primary);
  padding: 0px;
  margin-left: 10px;
}


.navbar {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0px;
  height: 15px;
  margin-top: 2px;
}

.navbar__hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.navbar__hamburger-line {
  margin: 2.5px 0px 2.5px 0px;
  width: 18px;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.navbar__hamburger.active .navbar__hamburger-line:first-child {
  transform: rotate(-45deg) translate(-4px, 4px);
}

.navbar__hamburger.active .navbar__hamburger-line:nth-child(2) {
  opacity: 0;
}

.navbar__hamburger.active .navbar__hamburger-line:last-child {
  transform: rotate(45deg) translate(-4px, -4px);
}

.navbar__menu {
  position: absolute;
  background: var(--yt-spec-badge-chip-background);
  height: 0px;
  width: 600px;
  border-radius: 12px;
  z-index: 999;
  overflow: hidden;
  transition: height 0.2s ease;
  margin-left: -12px;
  top: 20px;
}

.navbar__menu.slide-down {
  height: 180px;
}

.menu-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 5px;
}

.language-label {
  font-family: "Söhne", "Arial", sans-serif;
  margin-left: 10px;
}

/* <select> styles */
select {
  /* Reset */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 15em;
  height: 3em;
  padding: 0 4em 0 1em;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* <option> colors */
  /* Remove focus outline */
  /* Remove IE arrow */
}
.language-select option {
  color: inherit;
  background-color: #272727;
}
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}